<label style='float: right'>
    {{ 'sms77.ui.config' | trans }}
    <select class='ui dropdown'>
        {% for cfg in message_configurations %}
            <option value='{{ cfg.id }}'>{{ cfg.name ? cfg.name : cfg.id }}</option>
        {% endfor %}
    </select>
</label>

<script>
    addEventListener('DOMContentLoaded', () => {
        const $content = document.getElementById('content');
        const $select = $content.querySelector('select');
        const $btn = $content.querySelector(
            'div.ui.stackable.two.column.grid > div.middle.aligned.column > div > a');

        $btn.addEventListener('click', ev => {
            ev.preventDefault();

            window.location =
                `${$btn.href}?config=${$select.options[$select.selectedIndex].value}`;
        });
    });
</script>